/* common styles */
body {
    font-family: "Work Sans", sans-serif;
}

/* header styles */
.header{
    background-image: url('../images/banner/banner1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    padding-top: 230px; 
    padding-bottom: 165px;
}

.header-content {
    margin: 0px 215px 0px 850px;

}

.header-title {
    font-size: 65px;
    font-weight: 700;
    color: #151414;
    text-align: right;
    margin-bottom: 25px;

}

.header-desc {
    font-size: 16px;
    font-weight: 400;
    color: #444343;
    text-align: right;
    margin-bottom: 30px;

}

.btn-primary {
    color: white;
    background-color: #F15B22;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 25px;
    display: block;
    margin-left: auto;
    margin-right: 0;
}

/* body styles */

/* failure styles */

.failure{
    display: flex;
    gap: 80px;
    align-items: center;
    justify-content: space-between;

}

.failure > img{
    margin: 130px 0 130px 200px;
}
.failure-content{
    margin-right: 315px;
}

.failure-title{
    font-size: 40px;
    font-weight: 700;
    color: #151414;
    margin-bottom: 24px;

}
.failure-desc{
    font-size: 16px;
    font-weight: 400;
    color: #444343;
    margin-bottom: 16px;
}

.failure ul{
    padding-left: 0px;
}
.failure li{
    list-style: none;
    font-size: 16px;
    font-weight: 400;
    color: #444343;
}
.failure i{
    color: #16D887;
}